# Absenteeism Predictions using different Machine Learning Models

## Data import and data cleaning

## Importing necessary packages

In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

## Data Cleaning and EDA

In [2]:
df=pd.read_excel("Absenteeism_at_work.xls")

In [3]:
df.head()

,ID,Reason for absence,Month of absence,Day of the week,Seasons,Transportation expense,Distance from Residence to Work,Service time,Age,Work load Average/day,...,Disciplinary failure,Education,Son,Social drinker,Social smoker,Pet,Weight,Height,Body mass index,Absenteeism
0,11,26,7,3,1,289,36,13,33,239554,...,0,1,2,1,0,1,90,172,30,4
1,36,0,7,3,1,118,13,18,50,239554,...,1,1,1,1,0,0,98,178,31,0
2,3,23,7,4,1,179,51,18,38,239554,...,0,1,0,1,0,0,89,170,31,2
3,7,7,7,5,1,279,5,14,39,239554,...,0,1,2,1,1,0,68,168,24,4
4,11,23,7,5,1,289,36,13,33,239554,...,0,1,2,1,0,1,90,172,30,2

## Dataset Description

The database was created with records of absenteeism at work from July 2007 to July 2010 at a courier company in Brazil.The data set (Absenteeism at work) was used in academic research at the Universidade Nove de Julho - Postgraduate Program in Informatics and Knowledge Management.

**1.ID**

**2.Reason for absence**
Absences attested by the International Code of Diseases (ICD) stratified into 21 categories (I to XXI)
**I** Certain infectious and parasitic diseases
**II** Neoplasms
**III** Diseases of the blood and blood-forming organs and certain disorders involving the immune mechanism
**IV** Endocrine, nutritional and metabolic diseases
**V** Mental and behavioral disorders
**VI** Diseases of the nervous system
**VII** Diseases of the eye and adnexa
**VIII** Diseases of the ear and mastoid process
**IX** Diseases of the circulatory system
**X** Diseases of the respiratory system
**XI** Diseases of the digestive system
**XII** Diseases of the skin and subcutaneous tissue
**XIII** Diseases of the musculoskeletal system and connective tissue
**XIV** Diseases of the genitourinary system
**XV** Pregnancy, childbirth and the puerperium
**XVI** Certain conditions originating in the perinatal period
**XVII** Congenital malformations, deformations and chromosomal abnormalities
**XVIII** Symptoms, signs and abnormal clinical and laboratory findings, not elsewhere classified
**XIX** Injury, poisoning and certain other consequences of external causes
**XX** External causes of morbidity and mortality
**XXI** Factors influencing health status and contact with health services.
And 7 categories without (CID) patient follow-up **(22)**, medical consultation **(23)**, blood donation **(24)**, laboratory examination **(25)**, unjustified absence **(26)**, physiotherapy **(27)**, dental consultation **(28)**.

**3. Month of absence**

**4. Day of the week** (Monday (2), Tuesday (3), Wednesday (4), Thursday (5), Friday (6))

**5. Seasons** (summer (1), autumn (2), winter (3), spring (4))

**6. Transportation expense**

**7. Distance from Residence to Work** (kilometers)

**8. Service time**

**9. Age**

**10. Work load Average/day**

**11. Hit target**

**12. Disciplinary failure**:yes=1; no=0

**13. Education**: high school (1), graduate (2), postgraduate (3), master and doctor (4)

**14. Son**:number of children

**15. Social drinker**: yes=1; no=0

**16. Social smoker**: yes=1; no=0

**17. Pet** :number of pet

**18. Weight**

**19. Height**

**20. Body mass index**

**21. Absenteeism** time in hours(target)

### Generating descriptive statistics.

Descriptive statistics include those that summarize the central tendency, dispersion and shape of a dataset’s distribution, excluding NaN values

In [4]:
df.describe()

,ID,Reason for absence,Month of absence,Day of the week,Seasons,Transportation expense,Distance from Residence to Work,Service time,Age,Work load Average/day,...,Disciplinary failure,Education,Son,Social drinker,Social smoker,Pet,Weight,Height,Body mass index,Absenteeism
count,740.000000,740.000000,740.000000,740.000000,740.000000,740.000000,740.000000,740.000000,740.000000,740.000000,...,740.000000,740.000000,740.000000,740.000000,740.000000,740.000000,740.000000,740.000000,740.000000,740.000000
mean,18.017568,19.216216,6.324324,3.914865,2.544595,221.329730,29.631081,12.554054,36.450000,271490.235135,...,0.054054,1.291892,1.018919,0.567568,0.072973,0.745946,79.035135,172.114865,26.677027,6.924324
std,11.021247,8.433406,3.436287,1.421675,1.111831,66.952223,14.836788,4.384873,6.478772,39058.116188,...,0.226277,0.673238,1.098489,0.495749,0.260268,1.318258,12.883211,6.034995,4.285452,13.330998
min,1.000000,0.000000,0.000000,2.000000,1.000000,118.000000,5.000000,1.000000,27.000000,205917.000000,...,0.000000,1.000000,0.000000,0.000000,0.000000,0.000000,56.000000,163.000000,19.000000,0.000000
25%,9.000000,13.000000,3.000000,3.000000,2.000000,179.000000,16.000000,9.000000,31.000000,244387.000000,...,0.000000,1.000000,0.000000,0.000000,0.000000,0.000000,69.000000,169.000000,24.000000,2.000000
50%,18.000000,23.000000,6.000000,4.000000,3.000000,225.000000,26.000000,13.000000,37.000000,264249.000000,...,0.000000,1.000000,1.000000,1.000000,0.000000,0.000000,83.000000,170.000000,25.000000,3.000000
75%,28.000000,26.000000,9.000000,5.000000,4.000000,260.000000,50.000000,16.000000,40.000000,294217.000000,...,0.000000,1.000000,2.000000,1.000000,0.000000,1.000000,89.000000,172.000000,31.000000,8.000000
max,36.000000,28.000000,12.000000,6.000000,4.000000,388.000000,52.000000,29.000000,58.000000,378884.000000,...,1.000000,4.000000,4.000000,1.000000,1.000000,8.000000,108.000000,196.000000,38.000000,120.000000

**Printing a concise summary of a DataFrame**

Printing information about the dataFrame including the index dtype and columns, non-null values and memory usage

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 740 entries, 0 to 739
Data columns (total 21 columns):
 #   Column                           Non-Null Count  Dtype
---  ------                           --------------  -----
 0   ID                               740 non-null    int64
 1   Reason for absence               740 non-null    int64
 2   Month of absence                 740 non-null    int64
 3   Day of the week                  740 non-null    int64
 4   Seasons                          740 non-null    int64
 5   Transportation expense           740 non-null    int64
 6   Distance from Residence to Work  740 non-null    int64
 7   Service time                     740 non-null    int64
 8   Age                              740 non-null    int64
 9   Work load Average/day            740 non-null    int64
 10  Hit target                       740 non-null    int64
 11  Disciplinary failure             740 non-null    int64
 12  Education                        740 non-null    int64
 13  Son                              740 non-null    int64
 14  Social drinker                   740 non-null    int64
 15  Social smoker                    740 non-null    int64
 16  Pet                              740 non-null    int64
 17  Weight                           740 non-null    int64
 18  Height                           740 non-null    int64
 19  Body mass index                  740 non-null    int64
 20  Absenteeism                      740 non-null    int64
dtypes: int64(21)
memory usage: 121.5 KB

**Printing the shape of the dataframe**

In [6]:
df.shape

(740, 21)

**Checking the Missing Values**

In [7]:
df.isnull().any()

ID                                 False
Reason for absence                 False
Month of absence                   False
Day of the week                    False
Seasons                            False
Transportation expense             False
Distance from Residence to Work    False
Service time                       False
Age                                False
Work load Average/day              False
Hit target                         False
Disciplinary failure               False
Education                          False
Son                                False
Social drinker                     False
Social smoker                      False
Pet                                False
Weight                             False
Height                             False
Body mass index                    False
Absenteeism                        False
dtype: bool

There are 0 missing values .

**Finding the duplicated values**

In [8]:
print("There are {} duplicated values in data frame".format(df.duplicated().sum()))

There are 34 duplicated values in data frame

**Displaying the duplicated values**

In [9]:
duplicated = df[df.duplicated(keep=False)]
duplicated

,ID,Reason for absence,Month of absence,Day of the week,Seasons,Transportation expense,Distance from Residence to Work,Service time,Age,Work load Average/day,...,Disciplinary failure,Education,Son,Social drinker,Social smoker,Pet,Weight,Height,Body mass index,Absenteeism
5,3,23,7,6,1,179,51,18,38,239554,...,0,1,0,1,0,0,89,170,31,2
16,3,23,7,6,1,179,51,18,38,239554,...,0,1,0,1,0,0,89,170,31,2
63,34,23,10,3,4,118,10,10,37,253465,...,0,1,0,0,0,0,83,172,28,3
68,34,23,10,3,4,118,10,10,37,253465,...,0,1,0,0,0,0,83,172,28,3
81,28,23,11,4,4,225,26,9,28,306345,...,0,1,1,0,0,2,69,169,24,1
88,28,23,11,4,4,225,26,9,28,306345,...,0,1,1,0,0,2,69,169,24,1
105,10,22,12,4,4,361,52,3,28,261306,...,0,1,1,1,0,4,80,172,27,8
109,10,22,12,4,4,361,52,3,28,261306,...,0,1,1,1,0,4,80,172,27,8
118,27,23,1,5,2,184,42,7,27,308593,...,0,1,0,0,0,0,58,167,21,2
121,34,27,1,2,2,118,10,10,37,308593,...,0,1,0,0,0,0,83,172,28,2
123,34,27,1,3,2,118,10,10,37,308593,...,0,1,0,0,0,0,83,172,28,2
124,34,27,1,4,2,118,10,10,37,308593,...,0,1,0,0,0,0,83,172,28,2
125,34,27,1,5,2,118,10,10,37,308593,...,0,1,0,0,0,0,83,172,28,2
127,34,27,1,2,2,118,10,10,37,308593,...,0,1,0,0,0,0,83,172,28,2
128,34,27,1,3,2,118,10,10,37,308593,...,0,1,0,0,0,0,83,172,28,2
131,34,27,1,4,2,118,10,10,37,308593,...,0,1,0,0,0,0,83,172,28,2
132,27,23,1,5,2,184,42,7,27,308593,...,0,1,0,0,0,0,58,167,21,2
133,34,27,1,5,2,118,10,10,37,308593,...,0,1,0,0,0,0,83,172,28,2
304,5,23,10,2,4,235,20,13,43,265017,...,0,1,1,1,0,0,106,167,38,2
305,5,23,10,2,4,235,20,13,43,265017,...,0,1,1,1,0,0,106,167,38,2
347,3,28,12,6,4,179,51,18,38,236629,...,0,1,0,1,0,0,89,170,31,1
351,3,28,12,6,4,179,51,18,38,236629,...,0,1,0,1,0,0,89,170,31,1
370,3,27,2,4,2,179,51,18,38,251818,...,0,1,0,1,0,0,89,170,31,3
376,3,27,2,4,2,179,51,18,38,251818,...,0,1,0,1,0,0,89,170,31,3
379,3,27,2,6,2,179,51,18,38,251818,...,0,1,0,1,0,0,89,170,31,3
385,3,27,2,4,2,179,51,18,38,251818,...,0,1,0,1,0,0,89,170,31,3
386,3,27,2,6,2,179,51,18,38,251818,...,0,1,0,1,0,0,89,170,31,3
388,3,27,2,4,2,179,51,18,38,251818,...,0,1,0,1,0,0,89,170,31,3
389,3,27,2,6,2,179,51,18,38,251818,...,0,1,0,1,0,0,89,170,31,3
428,22,23,5,4,3,179,26,9,30,246074,...,0,3,0,0,0,0,56,171,19,3
440,22,23,5,4,3,179,26,9,30,246074,...,0,3,0,0,0,0,56,171,19,3
470,24,28,7,3,1,246,25,16,41,230290,...,0,1,0,1,0,0,67,170,23,2
477,24,28,7,3,1,246,25,16,41,230290,...,0,1,0,1,0,0,67,170,23,2
495,24,28,9,3,1,246,25,16,41,261756,...,0,1,0,1,0,0,67,170,23,1
496,24,28,9,3,1,246,25,16,41,261756,...,0,1,0,1,0,0,67,170,23,1
557,28,23,12,4,4,225,26,9,28,280549,...,0,1,1,0,0,2,69,169,24,3
560,28,23,12,4,4,225,26,9,28,280549,...,0,1,1,0,0,2,69,169,24,3
588,3,27,2,4,2,179,51,18,38,264249,...,0,1,0,1,0,0,89,170,31,2
590,3,27,2,5,2,179,51,18,38,264249,...,0,1,0,1,0,0,89,170,31,2
593,3,27,2,6,2,179,51,18,38,264249,...,0,1,0,1,0,0,89,170,31,2
595,3,27,2,2,2,179,51,18,38,264249,...,0,1,0,1,0,0,89,170,31,2
605,3,27,2,4,2,179,51,18,38,264249,...,0,1,0,1,0,0,89,170,31,2
607,3,27,2,6,2,179,51,18,38,264249,...,0,1,0,1,0,0,89,170,31,2
610,3,27,2,2,2,179,51,18,38,264249,...,0,1,0,1,0,0,89,170,31,2
615,3,27,2,4,2,179,51,18,38,264249,...,0,1,0,1,0,0,89,170,31,2
616,3,27,2,5,2,179,51,18,38,264249,...,0,1,0,1,0,0,89,170,31,2
623,3,27,3,4,2,179,51,18,38,222196,...,0,1,0,1,0,0,89,170,31,2
625,3,27,3,5,2,179,51,18,38,222196,...,0,1,0,1,0,0,89,170,31,3
631,3,27,3,4,2,179,51,18,38,222196,...,0,1,0,1,0,0,89,170,31,2
632,3,27,3,5,2,179,51,18,38,222196,...,0,1,0,1,0,0,89,170,31,3
641,3,27,3,4,2,179,51,18,38,222196,...,0,1,0,1,0,0,89,170,31,2
643,3,27,3,5,2,179,51,18,38,222196,...,0,1,0,1,0,0,89,170,31,3
659,22,27,4,6,3,179,26,9,30,246288,...,0,3,0,0,0,0,56,171,19,2
666,22,27,4,6,3,179,26,9,30,246288,...,0,3,0,0,0,0,56,171,19,2
669,22,27,4,6,3,179,26,9,30,246288,...,0,3,0,0,0,0,56,171,19,2
673,22,27,4,6,3,179,26,9,30,246288,...,0,3,0,0,0,0,56,171,19,2
680,15,28,5,5,3,291,31,12,40,237656,...,0,1,1,1,0,1,73,171,25,2
684,22,27,5,6,3,179,26,9,30,237656,...,0,3,0,0,0,0,56,171,19,2
699,15,28,5,5,3,291,31,12,40,237656,...,0,1,1,1,0,1,73,171,25,2
700,22,27,5,6,3,179,26,9,30,237656,...,0,3,0,0,0,0,56,171,19,2

**Removing the duplicated values**

In [10]:
df.drop_duplicates(inplace=True)


print("There is {} duplicated values in data frame".format(df.duplicated().sum()))

There is 0 duplicated values in data frame

In [63]:
df.shape

(706, 21)